*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: #1f1f1f;
  margin: 0;
  color: #ffffff;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.container {
  width: 100%;
  max-width: 280px;
  margin: 0;
}

@media (min-width: 281px) {
  .container {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
  }
}

@media (min-width: 480px) {
  .container {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 768) {
  .container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
  }
}

@media (min-width: 1024) {
  .container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
}

@media (min-width: 1280) {
  .container {
    width: 100%;
    min-width: 1200px;
    margin: 0 auto;
  }
}

form > label {
  display: block;
  font-weight: 600;
  padding: 2px 4px;
  border-radius: 20px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 4px;
}

@media (min-width: 481px) {
  form > label {
    display: block;
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
}

.top-of-login {
  color: #5c5c5c;
  text-align: left;
  font-size: 16px;
  width: 192px;
}

@media (min-width: 280px) {
  .top-of-login {
    color: #5c5c5c;
    font-size: 18px;
    width: 192px;
    text-align: left;
  }
}
@media (min-width: 480px) {
  .top-of-login {
    color: #5c5c5c;
    font-size: 24px;
    width: 315px;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .top-of-login {
    color: #5c5c5c;
    width: 315px;
    text-align: left;
  }
}

.login-form {
  background-color: #292929;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  padding: 16px 32px 0px 32px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

@media (min-width: 280px) {
  .login-form {
    background-color: #292929;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    max-width: 256px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  }
}

@media (min-width: 480px) {
  .login-form {
    background-color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 384px;
    row-gap: 32px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  }
}

@media (min-width: 768px) {
  .login-form {
    background-color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 384px;
    row-gap: 32px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  }
}

@media (min-width: 1024px) {
  .login-form {
    background-color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 384px;
    row-gap: 48px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  }
}

@media (min-width: 1280px) {
  .login-form {
    background-color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 640px;
    row-gap: 48px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  }
}

.signup-form {
  background-color: #292929;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  padding: 24px 64px 0px 64px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

@media (min-width: 280px) {
  .signup-form {
    background-color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    padding: 24px 64px 0px 64px;
    margin: auto;
    width: 256px;
    border-radius: 20px;
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  }
}

@media (min-width: 481px) {
  .signup-form {
    background-color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    padding: 24px 64px 0px 64px;
    margin: auto;
    min-width: 384px;
    border-radius: 20px;
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  }
}

.login-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  row-gap: 8px;
  color: #fff;
  width: 192px;
  margin-bottom: 16px;
}

@media (min-width: 280px) {
  .login-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    row-gap: 12px;
    width: 256px;
    color: #fff;
    margin-bottom: 18px;
  }
}
@media (min-width: 480px) {
  .login-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    row-gap: 16px;
    width: 384px;
    color: #fff;
    margin-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .login-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    row-gap: 16px;
    width: 512px;
    color: #fff;
    margin-bottom: 32px;
  }
}
@media (min-width: 1024px) {
  .login-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    row-gap: 16px;
    width: 512px;
    color: #fff;
    margin-bottom: 48px;
  }
}

.login-secondary-button {
  padding: 4px;
  text-align: center;
  font-size: 10px;
  border: 1px solid #3696816a;
  border-radius: 10px;
  color: #fff;
}

@media (min-width: 280px) {
  .login-secondary-button {
    border: 1px solid #3696816a;
    padding: 4px 32px;
    border-radius: 10px;
    width: 192px;
    margin: auto;
    font-size: 12px;
    color: #fff;
    text-align: center;
  }
}

@media (min-width: 480px) {
  .login-secondary-button {
    padding: 4px 48px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #3696816a;
    width: 315px;
    margin: auto;
    border-radius: 10px;
    color: #fff;
  }
}

@media (min-width: 768px) {
  .login-secondary-button {
    padding: 4px 48px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #3696816a;
    width: 315px;
    height: 32px;
    margin: auto;
    border-radius: 10px;
    color: #fff;
  }
}

.login-active-button {
  background-color: #369681;
  padding: 4px 48px;
  border-radius: 10px;
  font-size: 10px;
  color: #fff;
}

@media (min-width: 280px) {
  .login-active-button {
    background-color: #369681;
    padding: 4px 48px;
    border-radius: 10px;
    width: 192px;
    margin: auto;
    font-size: 12px;
    color: #fff;
  }
}

@media (min-width: 480px) {
  .login-active-button {
    background-color: #369681;
    padding: 4px 48px;
    border-radius: 10px;
    width: 315px;
    margin: auto;
    font-size: 16px;
    color: #fff;
  }
}

.signup-secondary-button {
  border: 1px solid #3696816a;
  padding: 4px 48px;
  text-align: center;
  border-radius: 10px;
  font-size: 12px;
  color: #fff;
}

@media (min-width: 280) {
  .signup-secondary-button {
    padding: 4px 32px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #3696816a;
    width: 192px;
    margin: auto;
  }
}

@media (min-width: 480) {
  .signup-secondary-button {
    padding: 4px 32px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #3696816a;
    width: 315px;
    margin: auto;
  }
}

.signup-active-button {
  background-color: #369681;
  padding: 4px;
  border-radius: 10px;
  font-size: 12px;
  color: #fff;
}

@media (min-width: 280px) {
  .signup-active-button {
    background-color: #369681;
    padding: 4px 48px;
    border-radius: 10px;
    min-width: 192px;
    margin: auto;
    font-size: 12px;
    color: #fff;
  }
}

@media (min-width: 480px) {
  .signup-active-button {
    background-color: #369681;
    padding: 4px 48px;
    border-radius: 10px;
    min-width: 315px;
    margin: auto;
    font-size: 16px;
    color: #fff;
  }
}

#email,
#password,
#userName {
  background-color: #333333;
  padding: 16px;
  min-width: 192px;
  max-width: 256px;
  height: 8px;
  font-size: 10px;
}

@media (min-width: 280) {
  #email,
  #password,
  #userName {
    background-color: #333333;
    padding: 18px;
    min-width: 192px;
    max-width: 384px;
    height: 12px;
    font-size: 16px;
  }
}

@media (min-width: 480px) {
  #email,
  #password,
  #userName {
    background-color: #333333;
    padding: 24px;
    min-width: 315px;
    max-width: 360px;
    height: 18px;
    font-size: 16px;
  }
}

.account-settings {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin: auto;
  width: 256px;
  padding: 32px;
  border-radius: 16px;
}

.email-container,
.user-container {
  display: flex;
  flex-direction: row;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  column-gap: 12px;
}

.inner-email-container,
.inner-user-container {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.delete-account-button {
  width: 192px;
  align-self: center;
}

.logout-button {
  margin-top: 192px;
  width: 192px;
  align-self: center;
}

.error {
  color: red;
  background-color: #333333;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.nav-container {
  position: fixed;
  background-color: #369681;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  border-top: 1px solid #51a794;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  height: 64px;
  flex-direction: row;
  color: #fff;
}

.profile-logout-button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.understanding-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 12px 0 24px 0;
  width: 100%;
  column-gap: 4px;
}

.understanding-buttons {
  font-size: 32px;
  text-align: center;
  cursor: pointer;
  background-color: #3b60e4;
  box-shadow: 0 4px #2d49af;
}

.current-understanding-button {
  font-size: 32px;
  text-align: center;
  background-color: #3252c6;
  box-shadow: inset 2px 4px #2d49af;
}

.form-header {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin: 12px 0 8px 0;
}

.deck-name-edit {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  background: none;
  margin-top: 12px;
  border-style: none;
  box-shadow: none;
  padding: 12px;
  border-radius: 50%;
  color: #fff;
  margin: 0 24px;
  align-items: center;
  align-content: center;
  border-radius: 20px;
  background-color: #333333;
  box-shadow: none;
  appearance: none;
}

.edit-toggle {
  padding: 0;
  height: 0;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.edit-button {
  margin-top: 4px;
  color: #fff;
  align-self: center;
}

.single-card-text {
  align-self: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4px 16px 0 16px;
  align-content: baseline;
  padding: 4px;
  column-gap: 48px;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: baseline;
  column-gap: 48px;
}

.nav-button {
  padding: 4px 8px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  text-decoration: none;
}

.edit-card-input-label {
  margin-right: 4px;
}

textarea,
input,
button,
.button {
  font-size: 16px;
  border: none;
  text-decoration: none;
  border-radius: 10px;
  padding: 4px 8px;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: #333333;
  color: #fff;
  line-height: 1.5;
  margin: 0;
  font-weight: 600;
}

.create-card-section {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  text-transform: uppercase;
  text-align: center;
}

.create-card-section > input {
  background-color: #3d3d3d;
}

.create-deck-form {
  /* margin-top: 12px; */
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  background: none;
  margin-top: 12px;
  border-style: none;
  box-shadow: none;
  padding: 12px;
  border-radius: 50%;
  color: #fff;
  margin: 0 24px;
  align-items: center;
  align-content: center;
  border-radius: 20px;
  background-color: #333333;
  box-shadow: none;
  appearance: none;
}

.create-form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 4px;
  color: #fff;
  font-weight: 500;
  margin: auto;
  margin-top: 4px;
  margin-left: 24px;
  margin-right: 24px;
  align-items: center;
  padding: 12px;

  align-content: center;
  border-radius: 20px;
  background-color: #333333;
  appearance: none;
}

.create-story-form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 4px;
  padding-left: 8px;
  color: #fff;
  font-size: 12px;
  margin: auto;
  width: 160px;
  align-items: center;
  align-content: center;
  border-radius: 20px;
  background-color: #333333;
  appearance: none;
}

.create-story-label {
  font-weight: 500;
  color: #ffffff8a;
  font-size: 12px;
  text-transform: uppercase;
}

.deckname-input {
  background-color: #3d3d3d;
  border-radius: 20px;
  color: #fff;
  height: 32px;
  width: 192px;
  margin: auto;
  text-align: center;
}

.story-form-box {
  max-width: 256px;
}

.create-story-form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 8px;

  align-items: center;
  border-radius: 20px;
}

.create-form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 8px;
  width: 100px;

  align-items: center;
  border-radius: 20px;
}

input {
  align-items: center;
  padding: 12px;
}

form > button {
  align-self: center;
}

textarea:hover,
input:hover,
button:hover,
.button:hover {
  text-decoration: none;
}
.mydecks-page-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  column-gap: 20%;
  padding: 8px;
  margin-bottom: 24px;
  background-color: #1f1f1f;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.library-page-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  column-gap: 20%;
  padding: 8px;
  margin-bottom: 24px;
  background-color: #1f1f1f;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.story-page-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px;
  margin-bottom: 24px;
  background-color: #1f1f1f;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.page-heading {
  font-size: 16px;
  color: #fff;
}

.card-review-data {
  text-align: center;
  margin-top: 12px;
}

.deck-page {
  width: 100%;
}

.deck-setting-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin: 32px 0 32px 0;
}

.add-deck {
  background: none;
  border-style: none;
  box-shadow: none;
}

.delete-button {
  background-color: #ff2c55;
  font-size: 12px;
  color: #333333;
}

.save-cancel-button-container {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  align-items: center;
  margin: 12px 0 12px 0;
}

.save-button {
  background-color: #63c7b2;
  font-size: 12px;
  padding: 4px 12px;
  color: #333333;
}

.cancel-button {
  background-color: #ff2c55;
  font-size: 12px;
  color: #333333;
}

.study-button {
  background-color: #f1ab86;
  color: #1f1f1f;
  font-size: 12px;
}

.add-button {
  background-color: #63c7b2;
  color: #1f1f1f;
  font-size: 12px;
}

.create-deck {
  display: block;
  text-align: center;
  margin: 64px auto 48px auto;
  width: 192px;
}

.deck-button:hover,
button:active,
.button:hover {
  transform: translateY(1px);
}

.deck-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0;
}

.deck-button {
  font-size: 1rem;
  text-align: center;
  border: none;
  text-decoration: none;
  height: 50px;
  min-width: 50px;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  background-color: transparent;
  box-shadow: none;
  font-weight: 500;
  color: #fff;
}

.deck-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
  flex-wrap: wrap;
}

.deck-qty {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.deck-header {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  border-radius: 20px;
}

.study-deck {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 12px;
  align-content: baseline;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  align-items: center;
  padding-left: 12px;
  color: #333333;
  background-color: #f1ab86;
  max-width: 128px;
  border-radius: 20px;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  text-align: center;
  margin: auto;
}

.deck-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  row-gap: 24px;
  padding: 12px;
  background-color: #333333;
  border-radius: 20px;
  width: 100%;
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
  text-align: center;
  /* height: 250px; */
  border: 1px solid #3d3d3d;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

div > h4 {
  margin-bottom: 0;
}

div > p {
  margin-top: 0;
}
.single-card-contents {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  justify-content: center;
}

.card-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 5px;
  margin: 12px 12px;
  flex-grow: 1;
  border-radius: 20px;
  background-color: #292929;
}

.review-body {
  padding: 0 16px;
}

.card-review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 100px;
  background-color: #ffffff;
  outline: 5px solid rgb(59, 96, 228);
  /* outline-offset: -10px; */
  /* border: 4px solid #3b60e4; */
  border-radius: 20px;
  width: 100%;
  justify-self: center;
}

.card-review-text {
  text-align: center;
  margin-top: 10px;
  color: #3d3d3d;
  font-size: 32px;
}

a {
  text-decoration: none;
  color: #fff;
}

.card-front {
  align-self: center;
}

.card-back {
  background-color: #e0ff4f;
  border-radius: 100px;
  width: fit-content;
  padding: 4px 24px 8px 24px;
  margin: 12px 8px;
  align-self: center;
}

.single-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#deck {
  width: 100%;
}

.deck-button-container {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
}

.subscribe-button {
  background-color: #3b60e4;
  color: #2c3333;
}

.unsubscribe-button {
  background-color: #ef767a;
  color: #2c3333;
  font-size: 12px;
}

.story-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
  align-items: center;
  padding-top: 256px;
  padding: 12px;
  margin: 24px;
  border-radius: 20px;
  color: white;
  background-color: #374040;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.generate-button {
  background-color: #acbc21;
  margin: 16px;
  font-size: 12px;
  color: #2c3333;
}

outlet-container {
  /* height: 100%; */
  /* width: 100%; */
  padding: 16px;
}
