*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: #2c3333;
  margin: 0;
  color: #afbae0;
  padding: 0 15px 0 15px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.error {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
  display: block;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.nav-container {
  display: flex;
  flex-direction: row;
  margin: 40px;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
}

.understanding-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0 0;
  column-gap: 5px;
}

.understanding-buttons {
  min-width: 100px;
  font-size: 35px;
  text-align: center;
  cursor: pointer;
  background-color: #3b60e4;
  box-shadow: 0 5px #2d49af;
}

.current-understanding-button {
  min-width: 100px;
  font-size: 35px;
  text-align: center;
  background-color: #3252c6;
  box-shadow: inset 2px 5px #2d49af;
}

.deck-name-edit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: baseline;
  padding: 10px;
  column-gap: 5px;
  margin: 10px;
}

.single-card-text {
  align-self: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px 15px 0 15px;
  align-content: baseline;
  padding: 5px;
  column-gap: 50px;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: baseline;
  column-gap: 10%;
}

.profile-button {
  padding: 4px 8px;
  font-size: 1rem;
  background-color: #374040;
  color: #afbae0;
  font-weight: 600;
  border-radius: 100px;
  text-decoration: none;
}

.profile-logout-button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 40px;
}

.edit-card-input-label {
  margin-right: 5px;
}

textarea,
input,
button,
.button {
  font-size: 1rem;
  border: none;
  text-decoration: none;
  border-radius: 50px;
  padding: 4px 8px;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: #374040;
  color: #afbae0;
  line-height: 1.5;
  margin: 0;
  font-weight: 600;
}

.create-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  column-gap: 10px;
  color: #afbae0;
  font-weight: 500;
  min-width: 25%;
  padding: 10px 5px;
  align-items: center;
  align-content: center;
  border-radius: 20px;
  background-color: #374040;
}

/* .create-form-label {
} */
input {
  align-items: center;
}

form > button {
  align-self: center;
}

textarea:hover,
input:hover,
button:hover,
.button:hover {
  text-decoration: none;
}

.deck-setting-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 0 30px 0;
}

.delete-button {
  background-color: #be3144;
  color: #2c3333;
}

.add-button {
  background-color: #acbc21;
  color: #2c3333;
}

.create-deck {
  display: block;
  text-align: center;
  margin: 0 auto 100px auto;
  width: 20%;
}

.deck-button:hover,
button:active,
.button:hover {
  transform: translateY(1px);
}

.deck-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0;
}

.deck-button {
  font-size: 1rem;
  text-align: center;
  border: none;
  text-decoration: none;
  height: 50px;
  min-width: 50px;
  border-radius: 100px;
  padding: 15px;
  margin: 15px;
  background-color: transparent;
  box-shadow: none;
  font-weight: 500;
  color: #cbe4de;
}

.deck-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
  flex-wrap: wrap;
}

.deck-qty {
  color: #2c3333;
  background-color: #3b60e4;
  border-radius: 50px;
  margin: -30px auto 0 auto;
  width: 150px;
  height: 40px;
  padding: 8px 0 0 0;
  text-decoration: none;
  text-transform: uppercase;
}

.deck-header {
  font-weight: 500;
  font-size: 25px;
  color: #afbae0;
  border-radius: 50px;
}

.deck-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #374040;
  border-radius: 50px;

  min-width: 330px;
  margin: 15px;
  padding: 15px;
  text-align: center;
  height: 300px;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

div > h4 {
  margin-bottom: 0;
}

div > p {
  margin-top: 0;
  text-align: center;
}
.single-card-contents {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  justify-content: center;
}

.card-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 5px;
  margin: 10px 0;
  flex-grow: 1;
  border-radius: 20px;
}

.card-box:nth-child(even) {
  background-color: #2e4f4f;
}

.card-box:nth-child(odd) {
  background-color: #387385;
}

.card-review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 100px;
  background-color: #ffffff;
  outline: 5px solid rgb(59, 96, 228);
  /* outline-offset: -10px; */
  /* border: 4px solid #3b60e4; */
  border-radius: 100px;
  min-height: 400px;
  min-width: 500px;
  justify-self: center;
}

.card-review-text {
  text-align: center;
  margin-top: 10px;
  color: #2c3333;
  font-size: 50px;
}

a {
  text-decoration: none;
  color: #fff;
}

.card-front {
  align-self: center;
}

.card-back {
  background-color: #d1e23cb5;
  border-radius: 100px;
  width: fit-content;
  padding: 7px 30px 10px 30px;
  align-self: center;
}

.single-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.subscribe-button {
  background-color: #3b60e4;
  color: #2c3333;
  margin-bottom: 10px;
}

.unsubscribe-button {
  background-color: #ef767a;
  color: #2c3333;
  margin-bottom: 10px;
}

outlet-container {
  height: 100%;
  /* width: 100%; */
  padding: 15px;
}
