html {
  box-sizing: border-box;
}
/* *,
*:before,
*:after {
  box-sizing: inherit;
} */

.container {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.error {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
  display: block;
}

li {
  list-style: none;
}

.card-container {
  display: flex;
  flex-direction: column;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2c3333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-container {
  display: flex;
  flex-direction: row;
  margin: 40px;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
}

.understanding-container {
  display: flex;
  flex-direction: row;
  margin-top: 20%;
  column-gap: 5px;
}

.understanding-buttons {
  font-size: 50px;
  min-width: 150px;
}

.current-understanding-button {
  min-width: 150px;
}

.deck-name-edit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: baseline;
  padding: 10px;
  column-gap: 5px;
  margin: 10px;
}

.single-card-text {
  align-self: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1%;
  margin-left: 25%;
  margin-right: 25%;
  align-content: baseline;
  padding: 0.15%;
  column-gap: 50px;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: baseline;
  /* padding: 5%; */
  column-gap: 10%;
}

.profile-button {
  padding: 4px 8px;
  background-color: #0e8388;
  color: #ffffff;
  border-radius: 100px;
  text-decoration: none;
}

.profile-logout-button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 10px;
}

.edit-card-input-label {
  margin-right: 2%;
}

textarea,
input,
button,
.button {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  text-decoration: none;
  border-radius: 50px;
  padding: 0.25rem 0.5rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: #0e8388;
  line-height: 1.5;
  margin: 0;
}
button,
.button {
  color: white;
  font-weight: 500;
}

.create-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  column-gap: 10px;
  color: white;
  font-weight: 500;
  min-width: 25%;
  padding: 10px 5px;
  align-items: center;
  align-content: center;
  border-radius: 20px;
  background-color: #2e4f4f;
}

/* .create-form-label {
} */
input {
  align-items: center;
}

form > button {
  align-self: center;
}

textarea:hover,
input:hover,
button:hover,
.button:hover {
  text-decoration: none;
}

.deck-setting-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 1%;
}

.delete-button {
  background-color: #be3144;
}

.add-button {
  background-color: #acbc21;
}

.deck-button:hover,
button:active,
.button:hover {
  transform: translateY(1px);
}

.deck-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.deck-button {
  font-size: 1rem;
  text-align: center;
  font-family: inherit;
  border: none;
  text-decoration: none;
  height: 50px;
  min-width: 50px;
  border-radius: 100px;
  padding: 15px;
  margin: 15px;
  color: #fff;
  background-color: transparent;
  box-shadow: none;
  font-weight: 500;
  color: #cbe4de;
}

.deck-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1%;
  flex-wrap: wrap;
}

.deck-header {
  font-weight: 500;
  font-size: 25px;
}

.deck-text {
  margin: 5px;
  color: #afbae0;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.deck-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2e4f4f;
  border-radius: 50px;
  min-width: 330px;
  margin: 15px;
  padding: 15px;
  text-align: center;
  height: 300px;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

div > h4 {
  margin-bottom: 0;
}

div > p {
  margin-top: 0;
  text-align: center;
}
.single-card-contents {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  justify-content: center;
}

.card-back-text {
  text-align: left;
}

.card-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  flex-grow: 1;
  border-radius: 20px;
}

.card-box:nth-child(even) {
  background-color: #2e4f4f;
}

.card-box:nth-child(odd) {
  background-color: #387385;
}

.card-review-container {
  background-color: #ffffff;
  border-radius: 100px;
  padding: 10px;
  margin: 10px;
  min-height: 500px;
}

.card-review-text {
  text-align: center;
  margin-top: 15%;
  color: black;
  font-size: 50px;
}

a {
  text-decoration: none;
  color: #fff;
}

.card-back {
  background-color: #d1e23c;
  border-radius: 100px;
  object-fit: cover;
  /* padding: 150px;
  margin: 50px; */
}

.single-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.subscribed {
  color: #ffffff;
}

outlet-container {
  height: 100%;
  /* width: 100%; */
  padding: 10%;
}
