*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: #1f1f1f;
  margin: 0;
  color: #ffffff
  padding: 0 15px 0 15px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

form > label {
  display: block;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 50px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 5px;
}

#root,
#__next {
  isolation: isolate;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.top-of-login {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  width: 550px;
  text-align: center;
  /* text-transform: uppercase; */
  color: #1f1f1f;
  height: 150px;
  padding: 50px;
  margin-top: -20px;
  margin-bottom: 25px;
  background: linear-gradient(#B4E4DA, #369681);  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.login-form {
  background-color: #292929;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 48px;
  min-width: 550px;
  min-height: 575px;
  padding: 20px 75px 0px 75px;
  margin: auto;
  border-radius: 50px;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  width: 400px;
}

.signup-form {
  background-color: #292929;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 48px;
  min-width: 550px;
  min-height: 700px;
  padding: 20px 75px 0px 75px;
  margin: auto;
  border-radius: 50px;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  width: 400px;
}

.login-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  column-gap: 50px;
  color: #fff;
}

.login-secondary-button {
  padding: 5px;
  text-align: center;
  width: 200px;
  font-size: 18px;
  border: 1px solid #3696816a;
  border-radius: 50px;
  color: #fff;

}
.login-active-button {
  background-color: #369681;
  padding: 5px 50px;
  width: 200px;
  font-size: 18px;
  color: #fff;
}

.signup-secondary-button {
  padding: 5px 50px;
  text-align: center;
  width: 200px;
  font-size: 18px;
  border: 1px solid #3696816a;
  border-radius: 50px;
  color: #fff;

}
.signup-active-button {
  background-color: #369681;
  padding: 5px;
  width: 200px;
  font-size: 18px;
  color: #fff;
}

#email, #password, #userName {
  background-color: #333333;
  padding: 20px;
  min-width: 500px;
}

.account-settings {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  border: solid 1px #fff;
  padding: 32px;
  border-radius: 20px;
}

.email-container,
.user-container {
  display: flex;
  flex-direction: row;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.inner-email-container,
.inner-user-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.delete-account-button {
  margin-top: 40px;
  align-self: center;
}

.error {
  color: red;
  background-color: #333333;
  font-size: 0.8em;
  margin-top: 5px;
  display: block;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.nav-container {
  display: flex;
  flex-direction: row;
  margin: 40px;
  color: #fff;
  justify-content: center;
  align-items: center;
  column-gap: 70px;
}

.understanding-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0 0;
  column-gap: 5px;
}

.understanding-buttons {
  min-width: 100px;
  font-size: 35px;
  text-align: center;
  cursor: pointer;
  background-color: #3b60e4;
  box-shadow: 0 5px #2d49af;
}

.current-understanding-button {
  min-width: 100px;
  font-size: 35px;
  text-align: center;
  background-color: #3252c6;
  box-shadow: inset 2px 5px #2d49af;
}

.deck-name-edit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 10px;
  column-gap: 5px;
  margin-bottom: 30px;
}

.edit-toggle {
  margin-top: 50px;
}

.edit-button {
  margin-top: 4px;
  color: #fff;
  align-self: center;
}

.single-card-text {
  align-self: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px 15px 0 15px;
  align-content: baseline;
  padding: 5px;
  column-gap: 50px;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: baseline;
  column-gap: 10%;
}

.profile-button {
  padding: 4px 8px;
  font-size: 1rem;
  background-color: #333333;
  color: #fff;
  font-weight: 600;
  border-radius: 100px;
  text-decoration: none;
}

.profile-logout-button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 70px;
}

.edit-card-input-label {
  margin-right: 5px;
}

textarea,
input,
button,
.button {
  font-size: 1rem;
  border: none;
  text-decoration: none;
  border-radius: 50px;
  padding: 4px 8px;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: #333333;
  color: #fff;
  line-height: 1.5;
  margin: 0;
  font-weight: 600;
}

.create-card-section {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-transform: uppercase;
  text-align: center;
}

.create-card-section > input {
  background-color: #3d3d3d;
}

.create-form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  color: #fff;
  font-weight: 500;
  padding: 15px 20px;
  margin: auto;
  width: 300px;
  align-items: center;
  align-content: center;
  border-radius: 20px;
  background-color: #333333;
  appearance: none;
}

.story-form-box {
  min-width: fit-content;
  max-width: 500px;
  margin: auto;
  padding: 25px 50px;
}

.create-form-section {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  align-content: center;
  padding: 10px 5px;
  border-radius: 20px;
  background-color: #333333;
}

.create-story-label {
  font-weight: 500;
  color: #E0FF4F;
  font-size: 15px;
  text-transform: uppercase;
}

input {
  align-items: center;
  padding: 10px;
}

form > button {
  align-self: center;
}

textarea:hover,
input:hover,
button:hover,
.button:hover {
  text-decoration: none;
}

.card-review-data {
  text-align: center;
  margin-top: 10px;
}

.deck-setting-section {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 70px;
  justify-content: center;
  align-items: center;
  margin: 30px 0 30px 0;
}

.delete-button {
  background-color: #ff2c55;
  color: #333333;
}

.add-button {
  background-color: #63C7B2;
  color: #1f1f1f;
}

.create-deck {
  display: block;
  text-align: center;
  margin: 0 auto 100px auto;
  width: 20%;
}

.deck-button:hover,
button:active,
.button:hover {
  transform: translateY(1px);
}

.deck-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0;
}

.deck-button {
  font-size: 1rem;
  text-align: center;
  border: none;
  text-decoration: none;
  height: 50px;
  min-width: 50px;
  border-radius: 100px;
  padding: 15px;
  margin: 15px;
  background-color: transparent;
  box-shadow: none;
  font-weight: 500;
  color: #fff;
}

.deck-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
  flex-wrap: wrap;
}

.deck-qty {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.deck-header {
  font-weight: 500;
  font-size: 25px;
  color: #fff;
  border-radius: 50px;
}

.study-deck {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 15px;
  align-content: baseline;
  font-size: 1.5rem;
  color: #333333;
  background-color: #f1ab86;
  width: 200px;
  border-radius: 50px;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  text-align: center;
  padding: 5px;
  margin: 10px auto 0 auto;
}

.deck-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 60px;
  background-color: #333333;
  border-radius: 50px;
  min-width: 330px;
  margin: 15px;
  text-align: center;
  height: 250px;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

div > h4 {
  margin-bottom: 0;
}

div > p {
  margin-top: 0;
}
.single-card-contents {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  justify-content: center;
}

.card-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 5px;
  margin: 10px 0;
  flex-grow: 1;
  border-radius: 20px;
}

.card-box:nth-child(even) {
  background-color: #2e4f4f;
}

.card-box:nth-child(odd) {
  background-color: #387385;
}

.card-review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 100px;
  background-color: #ffffff;
  outline: 5px solid rgb(59, 96, 228);
  /* outline-offset: -10px; */
  /* border: 4px solid #3b60e4; */
  border-radius: 100px;
  min-height: 400px;
  min-width: 500px;
  justify-self: center;
}

.card-review-text {
  text-align: center;
  margin-top: 10px;
  color: #3d3d3d;
  font-size: 50px;
}

a {
  text-decoration: none;
  color: #fff;
}

.card-front {
  align-self: center;
}

.card-back {
  background-color: #e0ff4f;
  border-radius: 100px;
  width: fit-content;
  padding: 7px 30px 10px 30px;
  align-self: center;
}

.single-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.subscribe-button {
  background-color: #3b60e4;
  color: #2c3333;
}

.unsubscribe-button {
  background-color: #ef767a;
  color: #2c3333;
}

.story-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  color: white;
  background-color: #374040;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.generate-button {
  background-color: #acbc21;
  margin: 16px;
  color: #2c3333;
}

outlet-container {
  height: 100%;
  /* width: 100%; */
  padding: 15px;
}
