html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.error {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
  display: block;
}

li {
  list-style: none;
}

.card-container {
  display: flex;
  flex-direction: column;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b0a4d8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-height: 35px;
  max-width: 100%;
  margin-top: 10%;
  margin-right: 30%;
  margin-left: 30%;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.understanding-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20%;
  align-content: baseline;
  /* padding: 0.15%; */
  column-gap: 50px;
  align-self: flex-end;
}

.understanding-buttons {
  font-size: small;
  min-width: 150px;
}

.current-understanding-button {
  font-size: 1rem;
  color: #000000;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  line-height: 1.5;
  margin: 0;
  font-weight: 650;
}

.single-card-text {
  align-self: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1%;
  margin-left: 25%;
  margin-right: 25%;
  align-content: baseline;
  padding: 0.15%;
  column-gap: 50px;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: baseline;
  /* padding: 5%; */
  column-gap: 10%;
}

.profile-button {
  background-color: #acbc21;
  padding: 10px;
  color: #ffffff;
  border-radius: 100px;
  text-decoration: none;
}

.profile-logout-button-group {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.edit-card-input-label {
  margin-right: 2%;
}

textarea,
input,
button,
.button {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  text-decoration: none;
  border-radius: 8px;
  padding: 0.25rem 0.5rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin: 0;
}
button,
.button {
  color: #a486e3;

  font-weight: 500;
}

textarea:hover,
input:hover,
button:hover,
.button:hover {
  text-decoration: none;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.deck-button:hover,
button:active,
.button:hover {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: translateY(1px);
}

.deck-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.deck-button {
  font-size: 1rem;
  text-align: center;
  font-family: inherit;
  border: none;
  text-decoration: none;
  height: 50px;
  min-width: 50px;
  border-radius: 100px;
  padding: 15px;
  margin: 15px;
  color: #fff;
  background-color: transparent;
  box-shadow: none;
  font-weight: 500;
}

.deck-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1%;
}

.deck-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px;
  padding: 20px;
}

.deck-header {
  font-weight: 500;
  font-size: 25px;
}

.deck-text {
  margin: 5px;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.deck-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #a486e3;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  border-radius: 50px;
  margin: 15px;
  padding: 25px;
  text-align: center;
  width: 350px;
  height: 300px;
  box-shadow: inset 0 0 10px 10px #866cdc;
}

div > h4 {
  margin-bottom: 0;
}

div > p {
  margin-top: 0;
  text-align: right;
}
.single-card-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-back-text {
  text-align: left;
}

.card-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 1%;
  flex-grow: 1;
  border-radius: 20px;
}

.card-box:nth-child(even) {
  background-color: #a486e3;
}

.card-box:nth-child(odd) {
  background-color: #866cdc;
}

.card-review-container {
  background-color: #ffffff;
  border-radius: 100px;
  padding: 10px;
  margin: 10px;
  min-height: 500px;
}

.card-review-text {
  text-align: center;
  margin-top: 15%;
  font-size: 50px;
}

.card-front {
  color: black;
}

.card-back {
  background-color: #d1e23c;
  border-radius: 100px;
  object-fit: cover;
  /* padding: 150px;
  margin: 50px; */
}

.single-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.subscribed {
  color: #866cdc;
}

outlet-container {
  height: 100%;
  width: 100%;
  padding: 10%;
}
